# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*.*]
indent_style = space
charset = utf-8

[*.java]
indent_size = 4
insert_final_newline = true

[*.sh]
indent_size = 2