<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
    <property name="STDOUT_PATTERN"
              value="%yellow(%date{yyyy-MM-dd HH:mm:ss}) %highlight(%-5level) %magenta([%thread]) %green(%logger{50})$%blue(%file:%line) - %cyan(%msg%n)"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>${STDOUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="pers.lyks" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>